#statusBarContainer {
    display: none;
    border-color: #cccccc;
    border-style: solid;
    border-width: thin;
    width:90%;
    height:20px;
    margin-left: auto;
    margin-right: auto;
}

#statusBarText {
    display:block;
    position:absolute;
    text-align: center;
    text-color:#666;
    z-index:2;
    margin-right:auto;
    margin-left:auto;
    width:inherit;
}

#statusBar {
    float:left;
    width:100%;
    height:100%;
    z-index:-1;

    //gradient bg code
    background: #2777c6; /* Old browsers */
    background: -moz-linear-gradient(top, #2777c6 0%, #267ef2 30%, #2989d8 50%, #87bce5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2777c6), color-stop(30%,#267ef2), color-stop(50%,#2989d8), color-stop(100%,#87bce5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2777c6 0%,#267ef2 30%,#2989d8 50%,#87bce5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2777c6 0%,#267ef2 30%,#2989d8 50%,#87bce5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2777c6 0%,#267ef2 30%,#2989d8 50%,#87bce5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2777c6 0%,#267ef2 30%,#2989d8 50%,#87bce5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2777c6', endColorstr='#87bce5',GradientType=0 ); /* IE6-9 */
}
